<div *ngIf="isLoading" class="loading-indicator">
    <div class="spinner"></div>
</div>
  
<div *ngIf="!isLoading" class="listing-layout">
    <div class="listing">
        <div class="listing-header">
            <h3 class="listing-title">{{ `${ advertCountString }` }}</h3>
            <div class="listing-sort">
                <div class="dropdown">
                    <div class="dropdown-controls">
                        <label class="dropdown-label">Сортировать по</label>
                        <div class="dropdown-link">
                            <app-dropdown-event></app-dropdown-event>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="listing-items">
            <app-advert-card *ngFor="let advert of adverts" [advert]="advert"></app-advert-card>
        </div>
    </div>
</div>



