<nz-card *ngIf="token && email" nzTitle="Change your password" [nzBordered]="false" style="max-width: 500px; margin: auto;">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" autocomplete="off">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" for="email">Email</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input nz-input formControlName="email" id="email" placeholder="Enter your email" type="text" />
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item>
        <nz-form-label [nzSpan]="24" for="newPassword">New Password</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input nz-input formControlName="newPassword" id="newPassword" placeholder="Enter new password" type="password" />
        </nz-form-control>
        <div *ngIf="error" style="color: red;">{{error.message}}</div>
      </nz-form-item>
  
      <nz-form-item class="button-group">
        <button nz-button nzType="primary" htmlType="submit">Change Password</button>
        <button nz-button nzType="default" routerLink="/login" type="button">Cancel</button>
      </nz-form-item>
    </form>
</nz-card>
  